* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins;
}

body {
	background-color: #2a3035;
	color: #cee4ea;
	overscroll-behavior-y: none;
	height: 100%;
	overflow: auto;
}

html {
	overflow: hidden;
	height: 100%;
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/poppins-v20-latin-200.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/poppins-v20-latin-600.woff2') format('woff2');
}